@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --CALCULATOR-SCREEN: #9fbbb3;
  --CALCULATOR-COLOR: #f0ece7;
  --TEXT-COLOR: #646261;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  margin-top: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  min-height: 500px;
}

.calculator {
  width: 385px;
  background-color: var(--CALCULATOR-COLOR);
  border: 1px solid var(--CALCULATOR-COLOR);
  border-radius: 20px;
  padding: 20px;
}

.screen {
  background-color: var(--CALCULATOR-SCREEN);
  border: 1px solid var(--CALCULATOR-SCREEN);
  border-radius: 20px;
  padding: 10px;
}

.digits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.btn {
  cursor: pointer;
  height: 50px;
  border-radius: 30px;
  background-color: var(--CALCULATOR-COLOR);
  border: 1px solid var(--CALCULATOR-COLOR);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: var(--TEXT-COLOR);
}

.large {
  grid-column: span 1.5;
}
