@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --CALCULATOR-SCREEN: #9fbbb3;
  --CALCULATOR-COLOR: #f0ece7;
  --TEXT-COLOR: #646261;
  --DARK-TEXT: rgb(2, 22, 0);
  --HOVER-OPERATOR: rgb(255, 207, 117);
  --HOVER-DIGIT: #dbd8d4;
  --BACKGROUND-COLOR: #d9d9d9;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--BACKGROUND-COLOR);
  margin: 0;
}

main {
  margin-top: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  min-height: 500px;
}

.calculator {
  max-width: 300px;
  width: 100%;
  background-color: var(--CALCULATOR-COLOR);
  border: 0px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
}

.screen {
  background-color: var(--CALCULATOR-SCREEN);
  border: 1px solid var(--CALCULATOR-SCREEN);
  border-radius: 20px;
  padding: 5px 15px;
  min-height: 120px;
  height: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

.digits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75em;
  padding: 10px;
  height: 100%;
}

.btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: var(--TEXT-COLOR);
  background-color: var(--CALCULATOR-COLOR);
  border-radius: 30px;
  border: 0px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 30%;
  padding: 1em 0;
  transition: all 0.12s ease-in-out;
}

#equal {
  grid-column: 3 / 5;
}

.dark {
  background-color: var(--TEXT-COLOR);
  color: var(--CALCULATOR-COLOR);
}

.btn.operator:hover {
  background-color: var(--HOVER-OPERATOR);
  color: var(--DARK-TEXT);
  transform: translateY(-0.15rem);
}

.btn.digit:hover,
.btn#decimal:hover {
  background-color: var(--HOVER-DIGIT);
  transform: translateY(-0.15rem);
}

.btn#equal:hover {
  background-color: var(--CALCULATOR-SCREEN);
  color: var(--CALCULATOR-COLOR);
  transform: translateY(-0.15rem);
}

.btn#clear:hover,
.btn#allClear:hover {
  background-color: var(--DARK-TEXT);
  transform: translateY(-0.15rem);
}

#past-operation,
#current-display {
  text-align: right;
  box-sizing: border-box;
}

#past-operation {
  color: var(--TEXT-COLOR);
  min-height: 30px;
  font-size: 30px;
}

#current-display {
  color: var(--DARK-TEXT);
  font-weight: bold;
  font-size: 50px;
}
